<!DOCTYPE html>

<html>
  <head>
    <title>Payitforward</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDF2imlYNhnywfMUt9XCb4nRrmpRa4WVTc' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
