<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'text_field' %>
  </div>

  <div class="field">
    <%= form.label :latitude, class: 'label' %>
    <%= form.text_field :latitude, class: 'text_field' %>
  </div>

  <div class="field">
    <%= form.label :longitude, class: 'label' %>
    <%= form.text_field :longitude, class: 'text_field' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
