<%= include_gon %>
<p id="notice"><%= notice %></p>

<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% begin %>

      <td><%= @find_places.name %></td>
      <td><%= @find_places.latitude %></td>
      <td><%= @find_places.longitude %></td>
      <td><%= @find_places.description %></td>
    <% rescue => e%>
      <td> <%= "There is nothing here." %></td>
    <% end%>

    <td> <%= "This is the list of all the stores currently:" %> </td>
    <% @places.each do |place| %>
      <tr>
        <td class = "tabletext"><%= place.name %></td>
        <td class = "tabletext"><%= place.latitude %></td>
        <td class = "tabletext"><%= place.longitude %></td>
        <td class = "tabletext"><%= link_to 'Show', place %></td>
        <td class = "tabletext"><%= link_to 'Edit', edit_place_path(place) %>
        <td class = "tabletext"><%= link_to 'Remove', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button">Add New Region</button>'.html_safe, new_place_path %>
