<%= include_gon %>
<p id="notice"><%= notice %></p>

<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td class = "tabletext"><%= place.name %></td>
        <td class = "tabletext"><%= place.latitude %></td>
        <td class = "tabletext"><%= place.longitude %></td>
        <td class = "tabletext"><%= link_to 'Show Region', place %></td>
        <td class = "tabletext"><%= link_to 'Remove Region', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button">Add new Region</button>'.html_safe, new_place_path %>
