<%= include_gon %>
<p id="notice"><%= notice %></p>


<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% begin %>

      <td class = "tabletext"><%= @find_places.name %></td>
      <td class = "tabletext"><%= @find_places.latitude %></td>
      <td class = "tabletext"><%= @find_places.longitude %></td>
      <td class = "tabletext"><%= @find_places.description %></td>
      <td><a href="https://www.weebly.com/app/website/cms/drafts/9PL2yBEW28s5185lE6oKf4QL168/product/pizza-slice/2">Pay it Forward</a></td>
    <% rescue => e%>
      <td class = "tabletext"> <%= "There is nothing here." %></td>
    <% end%>
  </tbody>
</table>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td class = "tabletext"><%= place.name %></td>
        <td class = "tabletext"><%= place.latitude %></td>
        <td class = "tabletext"><%= place.longitude %></td>
        <td class = "tabletext"><%= link_to 'Show', place %></td>
        <td class = "tabletext"><%= link_to 'Edit', edit_place_path(place) %>
        <td class = "tabletext"><%= link_to 'Remove', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button">Add New Region</button>'.html_safe, new_place_path %>
