<%= form_with(model: [@ally_place.place, @ally_place]) do |f| %>
  <% if @ally_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ally_place.errors.count, "error") %> prohibited this ally_place from being saved:</h2>

      <ul>
      <% @ally_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name, class: 'label'%><br />
    <%= f.text_field :name, class: 'text_field'%>
  </div>
  <div class="field">
    <%= f.label :category, class: 'label' %><br />
    <%= f.text_field :category, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :latitude, class: 'label' %>
    <p class = "explanation"> Convert the address of the place you want to add to latitude and longitude using
      <a href = "https://www.latlong.net/convert-address-to-lat-long.html" target="_blank">this link</a> </p>
    <%= f.text_field :latitude, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :longitude, class: 'label' %>
    <p class = "explanation"> Convert the address of the place you want to add to latitude and longitude using
      <a href = "https://www.latlong.net/convert-address-to-lat-long.html" target="_blank">this link</a> </p>
    <%= f.text_field :longitude, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :donation, class: 'label' %><br />
    <%= f.text_field :donation, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :hours_of_operation, class: 'label' %><br />
    <%= f.text_field :hours_of_operation, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :description, class: 'label' %><br />
    <%= f.text_field :description, class: 'text_field' %>
  </div><br />
  <div class="actions">
    <%= f.submit%>
  </div>


<% end %>
