<%= form_with(model: [@ally_place.place, @ally_place]) do |f| %>
  <% if @ally_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ally_place.errors.count, "error") %> prohibited this ally_place from being saved:</h2>

      <ul>
      <% @ally_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :donation %><br />
    <%= f.text_field :donation %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
