<%= form_with(model: [@ally_place.place, @ally_place]) do |f| %>
  <% if @ally_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ally_place.errors.count, "error") %> prohibited this ally_place from being saved:</h2>

      <ul>
      <% @ally_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name, class: 'label'%>
    <%= f.text_field :name, class: 'text_field'%>
  </div>
  <div class="field">
    <%= f.label :category, class: 'label'%>
    <p class = "explanation">Enter in the food category you would classify your restaurant as! </p>
    <%= f.text_field :category, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :latitude, class: 'label' %>
    <p class = "explanation"> Convert the address of the place you want to add to latitude and longitude using
      <a href = "https://www.latlong.net/convert-address-to-lat-long.html" target="_blank">this link</a> </p>
    <%= f.text_field :latitude, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :longitude, class: 'label' %>
    <p class = "explanation"> Convert the address of the place you want to add to latitude and longitude using
      <a href = "https://www.latlong.net/convert-address-to-lat-long.html" target="_blank">this link</a> </p>
    <%= f.text_field :longitude, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :donation, class: 'label' %>
    <p class = "explanation"> Enter in a suggested donation amount for donors. <br>For suggested amount recommendations, try to request enough money to cover at least one person's share of what you're offering.</p>
    <%= f.text_field :donation, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :hours_of_operation, class: 'label' %>
    <p class = "explanation">For hours of operation, please enter in 24 hour format separated by a dash (no spaces!) <br> <strong>For example:</strong> 9:00-23:00</p>
    <%= f.text_field :hours_of_operation, class: 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :description, class: 'label' %>
    <p class = "explanation">Enter in any other information you'd like to know! (Are you offering vegan food? Are you offering 3 hours of temporary shelter? Include that here!)</p>
    <%= f.text_field :description, class: 'text_field' %>
  </div><br />
  <div class="actions">
    <%= f.submit 'Submit! 😄'%>
  </div>


<% end %>
