<h1>Our Allies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Donation</th>
    <th>Description</th>
    <th>Category</th>
    <th>Hours of Operation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ally_places.each do |ally_place| %>
  <tr>
    <td class = "tabletext"><%= ally_place.name %></td>
    <td class = "tabletext"><%= ally_place.latitude %></td>
    <td class = "tabletext"><%= ally_place.longitude %></td>
    <td class = "tabletext"><%= ally_place.donation %></td>
    <td class = "tabletext"><%= ally_place.description %></td>
    <td class = "tabletext"><%= ally_place.category %></td>
    <td class = "tabletext"><%= ally_place.hours_of_operation %></td>
    <td class = "tabletext"><%= link_to 'Show', [ally_place.place, ally_place] %></td>
    <td class = "tabletext"><%= link_to 'Edit', edit_place_ally_place_path(ally_place.place, ally_place) %></td>
    <td class = "tabletext"><%= link_to 'Destroy', [ally_place.place, ally_place], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<button type = "button">Add New Business</button>'.html_safe, new_place_ally_place_path(params[:place_id]) %>
<%= link_to '<button type = "button">Back to Map</button>'.html_safe, @place %>
