<%= include_gon %>

<p id="notice"><%= notice %></p>
</br>

<div class = "padinfo">
<p class = "submitted">
  <b class = "pinktext">Name:</b>
  <%= @ally_place.name %>
</p>

<p class = "submitted">
  <b class = "pinktext">Category:</b>
  <%= @ally_place.category %>
</p>

<p class = "submitted">
  <b class = "pinktext">Hours of Operation:</b>
  <%= @ally_place.hours_of_operation %>
</p>

<p class = "submitted">
  <b class = "pinktext">Latitude:</b>
  <%= @ally_place.latitude %>
</p>

<p class = "submitted">
  <b class = "pinktext">Longitude:</b>
  <%= @ally_place.longitude %>
</p>

<p class = "submitted">
  <b class = "pinktext">Donation:</b>
  <%= @ally_place.donation %>
</p>

<p class = "submitted">
  <b class = "pinktext">Description:</b>
  <%= @ally_place.description %>
</p>
</div>
</br>

<%= link_to '<button type = "button">Edit</button>'.html_safe, edit_place_ally_place_path(@ally_place.place, @ally_place) %> </br> </br>
<%= link_to '<button type = "button">Back to Map</button>'.html_safe, @place %>
